@eslovensko:registry=https://gitlab.slovenskoit.sk/api/v4/projects/153/packages/npm/
//gitlab.slovenskoit.sk/api/v4/projects/153/packages/npm/:_authToken=${NPM_TOKEN}

@nettle:registry=https://gitlab.slovenskoit.sk/api/v4/projects/376/packages/npm/
//gitlab.slovenskoit.sk/api/v4/projects/376/packages/npm/:_authToken=${NPM_TOKEN}

@skit-feedback:registry=https://gitlab.slovenskoit.sk/api/v4/projects/367/packages/npm/
//gitlab.slovenskoit.sk/api/v4/projects/367/packages/npm/:_authToken=${NPM_TOKEN}

@skit-audit-log:registry=https://gitlab.slovenskoit.sk/api/v4/projects/390/packages/npm/
//gitlab.slovenskoit.sk/api/v4/projects/390/packages/npm/:_authToken=${NPM_TOKEN}

@skit-saml-auth:registry=https://gitlab.slovenskoit.sk/api/v4/projects/362/packages/npm/
//gitlab.slovenskoit.sk/api/v4/projects/362/packages/npm/:_authToken=${NPM_TOKEN}